@import '~@taiga-ui/core/styles/taiga-ui-local';

.row {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row:hover {
  background-color: #eeeeee;
}

.title {
  max-width: 70%;
  overflow: scroll;
}

.purchase-info {
  margin: 10px;
  position: relative;
}

.edit-button {
  position: absolute;
  top: 0;
  right: 0;
}

.purchase-editor {
  margin-top: 20px;
}